---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Martin Nobis"
	pubDate={new Date('September 06 2024')}
	heroImage="/aboutme.jpg"
>
	<p>
		Hey, I'm a software engineer with close to 10 years experience in both the defence and commerical
		sectors. The main languages I've programmed in are Java, C and C++, Python and Javascript/Typescript. I enjoy
		web development and creating useful websites (see <a href="/showcase">Showcase</a>). But I have also focused some
		of my career on build and release processes, as I find this to be a common bottleneck experiened by lots of comppanies.
	</p>

	<p>
		Outside of work I'm a husband and father, I enjoy bike riding, making sourdough, reading books 
		and playing my with kids!
	</p>
</Layout>
