---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Welcome, Visitor!</h1>
			<p>
				Welcome to <strong>Martin's</strong> corner of the internet. Every self respecting developer has their
				own website/blog/portfolio so here is mine. I likely won't update it that often but will
				make sure it showcases my latest personal projects and <a href="/booklist">book reading activity</a>. If I'm inspired
				I might even hazard writing a blog post about a recent experience in <code>programming</code>, so stay tuned!
			</p>
		</main>
		<Footer />
	</body>
</html>
